
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ADBBDA;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.header-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    margin: 0 0 20px;
}

#display {
    font-size: 3em;
    margin-bottom: 20px;
}

.buttons button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button img {
    width: 30px;
    height: 30px;
}

#startStopBtn {
    background-color: #4CAF50;
    color: white;
}

#lapBtn {
    background-color: #008CBA;
    color: white;
}

#resetBtn {
    background-color: #f44336;
    color: white;
}

.buttons button:hover {
    opacity: 0.8;
}

#laps {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#laps li {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    #display {
        font-size: 2em;
    }

    .buttons button img {
        width: 20px;
        height: 20px;
    }
}
